.add-product-container {
    width: 50%;
    margin: 0 auto;
    padding: 20px;
    border-radius: 10px;
    margin-top: 100px;
  }
  
  .add-product-container h2 {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .add-product-form {
    display: flex;
    flex-direction: column;
  }
  
  .form-group {
    margin-bottom: 15px;
  }
  
  .form-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
  }
  
  .form-group input,
  .form-group textarea,
  .form-group select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .form-group input[type="file"] {
    padding: 3px;
  }
  
  .image-preview {
    display: flex;
    gap: 10px;
    margin-top: 10px;
  }
  
  .preview-img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .save-button {
    background-color:#0b5986 ;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .save-button:hover {
    background-color: #0b5986;
  }
  
  .review-button{

    color: white;
    background-color:#0b5986 ;
  }